.hero {
    background-image: url('/assets/home-background.jpg')
    !important;
    background-size: cover;
    background-position: center center;
    
    
}

.hero-body{
  text-align: center;
}

.container{
  text-align: center;
}

.card {
    margin-right: 10%;
    margin-left: 10%;
    width: auto;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: auto;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
}

.card-header {
  font-size: 170%;
  height: 100px;
  text-align: center;
  font-weight: bolder;
  color: black;
  text-shadow: 0.5px 0.5px 1px white;
  font-family: "Monaco", Monospace;
}

.card-content {
  text-align: center;
  font-weight: bolder;
  color: black;
  font-family: "Monaco", Monospace;
}
.column{
  background-color: rgba(0, 208, 245, 0.2);
}


h3 {
    font-size: 150%;
    text-align: center;
  }
  
h4 {
  font-size: large;
}
  
h5 {
  font-size: medium;
}
  
span{
  text-align: center;
}